In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Wildlife_Dataset_Raw.csv")

Country Name Standardization for Importer, Exporter, and Origin

In [3]:
country_map = {
    "US": "United States", "IN": "India", "GB": "United Kingdom",
    "FR": "France", "DE": "Germany", "CN": "China", "JP": "Japan",
    "AU": "Australia", "CA": "Canada", "BR": "Brazil", "RU": "Russia",
    "ZA": "South Africa", "NL": "Netherlands", "CH": "Switzerland",
    "SE": "Sweden", "NO": "Norway", "DK": "Denmark", "FI": "Finland",
    "IT": "Italy", "ES": "Spain", "PT": "Portugal", "BE": "Belgium",
    "AT": "Austria", "IE": "Ireland", "PL": "Poland", "GR": "Greece",
    "HU": "Hungary", "CZ": "Czech Republic", "SK": "Slovakia",
    "RO": "Romania", "BG": "Bulgaria", "UA": "Ukraine",
    "TR": "Turkey", "IR": "Iran", "IL": "Israel", "SA": "Saudi Arabia",
    "AE": "United Arab Emirates", "QA": "Qatar", "KW": "Kuwait",
    "OM": "Oman", "BH": "Bahrain",
    "SG": "Singapore", "MY": "Malaysia", "TH": "Thailand",
    "VN": "Vietnam", "PH": "Philippines", "ID": "Indonesia",
    "KR": "South Korea", "KP": "North Korea",
    "TW": "Taiwan", "HK": "Hong Kong",
    "NZ": "New Zealand",
    "MX": "Mexico", "AR": "Argentina", "CL": "Chile",
    "CO": "Colombia", "PE": "Peru", "VE": "Venezuela",
    "UY": "Uruguay", "PY": "Paraguay", "BO": "Bolivia",
    "EG": "Egypt", "MA": "Morocco", "TN": "Tunisia",
    "NG": "Nigeria", "KE": "Kenya", "UG": "Uganda",
    "ET": "Ethiopia", "ZW": "Zimbabwe",
    "PK": "Pakistan", "BD": "Bangladesh", "LK": "Sri Lanka",
    "NP": "Nepal", "AF": "Afghanistan",
    "RS": "Serbia",


    # Territories / small states
    "JE": "Jersey", "GG": "Guernsey", "IM": "Isle of Man",
    "FO": "Faroe Islands", "IS": "Iceland", "GL": "Greenland",
    "CW": "Cura√ßao", "SX": "Sint Maarten", "AW": "Aruba",
    "KY": "Cayman Islands", "BM": "Bermuda",
    "PF": "French Polynesia", "NC": "New Caledonia",
    "VA": "Vatican City",

    # Special / obsolete / unknown
    "AQ": "Antarctica",
    "TF": "French Southern Territories",
    "SU": "Soviet Union (obsolete)",
    "DD": "East Germany (obsolete)",
    "XX": "Unknown",
    "ZZ": "Unknown",
    "XV": "International Organizations",

    "CX": "Christmas Island",
    "FK": "Falkland Islands",
    "GS": "South Georgia & South Sandwich Islands",
    "IO": "British Indian Ocean Territory",

    "CV": "Cabo Verde",
    "VC": "Saint Vincent and the Grenadines",
    "MG": "Madagascar",
    "TJ": "Tajikistan",
    "BY": "Belarus",
    "LA": "Lao People's Democratic Republic",
    "DO": "Dominican Republic",
    "KZ": "Kazakhstan",
    "BS": "Bahamas",
    "UZ": "Uzbekistan",
    "MT": "Malta",
    "KH": "Cambodia",
    "LT": "Lithuania",
    "TZ": "Tanzania",
    "MC": "Monaco",
    "LB": "Lebanon",
    "NI": "Nicaragua",
    "PA": "Panama",
    "ST": "Sao Tome and Principe",
    "CR": "Costa Rica",
    "FJ": "Fiji",
    "HT": "Haiti",
    "TO": "Tonga",
    "BZ": "Belize",
    "FM": "Micronesia",
    "JM": "Jamaica",
    "LC": "Saint Lucia",
    "MH": "Marshall Islands",
    "PW": "Palau",
    "SV": "El Salvador",
    "CU": "Cuba",
    "VG": "British Virgin Islands",
    "GD": "Grenada",
    "MV": "Maldives",
    "SN": "Senegal",
    "SD": "Sudan",
    "ZM": "Zambia",
    "MO": "Macao",
    "CD": "Democratic Republic of the Congo",
    "KN": "Saint Kitts and Nevis",
    "LI": "Liechtenstein",
    "SL": "Sierra Leone",
    "GE": "Georgia",
    "MM": "Myanmar",
    "MZ": "Mozambique",
    "AD": "Andorra",
    "SI": "Slovenia",
    "CI": "Cote d'Ivoire",
    "CM": "Cameroon",
    "LU": "Luxembourg",
    "SZ": "Eswatini",
    "MN": "Mongolia",
    "JO": "Jordan",
    "AM": "Armenia",
    "MU": "Mauritius",
    "AZ": "Azerbaijan",
    "EC": "Ecuador",
    "CF": "Central African Republic",
    "ML": "Mali",
    "EE": "Estonia",
    "YE": "Yemen",
    "KG": "Kyrgyzstan",
    "RW": "Rwanda",
    "CG": "Republic of the Congo",
    "GA": "Gabon",
    "IQ": "Iraq",
    "GI": "Gibraltar",
    "LV": "Latvia",
    "SR": "Suriname",
    "KM": "Comoros",
    "HR": "Croatia",
    "PG": "Papua New Guinea",
    "GQ": "Equatorial Guinea",
    "LS": "Lesotho",
    "CY": "Cyprus",
    "MD": "Moldova",
    "CK": "Cook Islands",
    "AG": "Antigua and Barbuda",
    "SB": "Solomon Islands",
    "BJ": "Benin",
    "GH": "Ghana",
    "TG": "Togo",
    "AL": "Albania",
    "BL": "Saint Barthelemy",
    "BB": "Barbados",
    "NE": "Niger",
    "TC": "Turks and Caicos Islands",
    "GY": "Guyana",
    "GT": "Guatemala",
    "ER": "Eritrea",
    "MK": "North Macedonia",
    "LR": "Liberia",
    "DM": "Dominica",
    "GW": "Guinea-Bissau",
    "TD": "Chad",
    "GN": "Guinea",
    "MW": "Malawi",
    "HN": "Honduras",
    "BW": "Botswana",
    "SH": "Saint Helena",
    "SM": "San Marino",
    "SC": "Seychelles",
    "TT": "Trinidad and Tobago",
    "SY": "Syria",
    "BI": "Burundi",
    "TL": "Timor-Leste",
    "GP": "Guadeloupe",
    "VU": "Vanuatu",
    "AN": "Netherlands Antilles",
    "TK": "Tokelau",
    "KI": "Kiribati",
    "WS": "Samoa",
    "GM": "Gambia",
    "BA": "Bosnia and Herzegovina",
    "ME": "Montenegro",
    "AO": "Angola",
    "RE": "Reunion",
    "BN": "Brunei",
    "TM": "Turkmenistan",
    "GF": "French Guiana",
    "MQ": "Martinique",
    "DZ": "Algeria",
    "DJ": "Djibouti",
    "MR": "Mauritania",
    "CC": "Cocos (Keeling) Islands",
    "GU": "Guam",
    "LY": "Libya",
    "MF": "Saint Martin",
    "MP": "Northern Mariana Islands",
    "PR": "Puerto Rico",
    "VI": "U.S. Virgin Islands",
    "BQ": "Bonaire, Sint Eustatius and Saba",
    "YU": "Former Yugoslavia",
    "BF": "Burkina Faso",
    "YT": "Mayotte",
    "AI": "Anguilla",
    "SO": "Somalia"
}

In [4]:
df["Origin"] = df["Origin"].replace(country_map)

In [5]:
df["Exporter"] = df["Exporter"].replace(country_map)

In [6]:
df["Importer"] = df["Importer"].replace(country_map)

In [7]:
df.head()

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,Turkey,Netherlands,Czech Republic,NaN,1.0,bodies,NaN,T,C
1,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,International Organizations,Serbia,Serbia,NaN,1.0,bodies,NaN,Q,O
2,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,Belgium,Norway,NaN,NaN,43.0,feathers,NaN,S,W
3,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,Belgium,Norway,NaN,NaN,43.0,specimens,NaN,S,W
4,2016,I,Haliaeetus albicilla,Aves,Falconiformes,Accipitridae,Haliaeetus,Denmark,Iceland,NaN,700.0,NaN,specimens,NaN,S,W

Drop Unit Column

In [8]:
df.drop(columns=["Unit"], inplace=True)

Handling Missing Values in Origin

In [9]:
df["Origin"] = df["Origin"].replace("", np.nan)

In [10]:
df["Origin"].isnull().sum()

np.int64(41518)

Handling Missing Genus, Order, and Family Values

In [11]:
def taxon_majority_map(df, taxon_col, target_col):
    """
    Returns a mapping from Taxon -> most frequent non-null value of target_col.
    """
    return (
        df.dropna(subset=[target_col])
          .groupby(taxon_col)[target_col]
          .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
    )

In [12]:
order_map  = taxon_majority_map(df, 'Taxon', 'Order')
family_map = taxon_majority_map(df, 'Taxon', 'Family')
genus_map  = taxon_majority_map(df, 'Taxon', 'Genus')

In [13]:
df['Order'] = df['Order'].fillna(df['Taxon'].map(order_map))
df['Family'] = df['Family'].fillna(df['Taxon'].map(family_map))
df['Genus'] = df['Genus'].fillna(df['Taxon'].map(genus_map))

In [14]:
df[['Order', 'Family', 'Genus']] = (
    df[['Order', 'Family', 'Genus']]
    .fillna('Unknown')
)

In [15]:
df['order_imputed']  = df['Order'].eq('Unknown').astype(int)
df['family_imputed'] = df['Family'].eq('Unknown').astype(int)
df['genus_imputed']  = df['Genus'].eq('Unknown').astype(int)

In [16]:
print(df[['Order','Family','Genus']].isna().sum())

Order     0
Family    0
Genus     0
dtype: int64

Drop Class Column

In [17]:
df.drop(columns=['Class'], inplace=True)

Dropping Records with Unknown Importer and Exporter

In [18]:
df = df.dropna(subset=['Importer'])

In [19]:
df = df.dropna(subset=['Exporter'])

In [20]:
df['Origin'] = df['Origin'].fillna('Unknown')

Impute Import and Export Quantities with Zeros

In [21]:
df['importer_qty_missing'] = df['Importer reported quantity'].isna().astype(int)
df['exporter_qty_missing'] = df['Exporter reported quantity'].isna().astype(int)

df['Importer reported quantity'] = df['Importer reported quantity'].fillna(0)
df['Exporter reported quantity'] = df['Exporter reported quantity'].fillna(0)

Handling Missing Source and Purpose Values

In [22]:
df['Purpose'] = df['Purpose'].fillna('Unknown')

In [23]:
df['Source'] = df['Source'].fillna('Unknown')

In [24]:
df.isna().sum()

Year                          0
App.                          0
Taxon                         0
Order                         0
Family                        0
Genus                         0
Importer                      0
Exporter                      0
Origin                        0
Importer reported quantity    0
Exporter reported quantity    0
Term                          0
Purpose                       0
Source                        0
order_imputed                 0
family_imputed                0
genus_imputed                 0
importer_qty_missing          0
exporter_qty_missing          0
dtype: int64

In [25]:
df.drop(
    columns=[
        "order_imputed",
        "family_imputed",
        "genus_imputed",
        "importer_qty_missing",
        "exporter_qty_missing",
    ],
    inplace=True
)

In [26]:
df['Source'].unique()

array(['C', 'O', 'W', 'U', 'I', 'F', 'D', 'A', 'X', 'Unknown', 'R'],
      dtype=object)

Feature Encoding

Map Appendix Categories to Numeric Codes

In [27]:
appendix_map = {'I': 3, 'II': 2, 'III': 1}
df['App.'] = df['App.'].map(appendix_map)

Strip Leading and Trailing Whitespace in Columns

In [28]:
for col in ['Taxon','Order','Family','Genus']:
    df[col] = df[col].str.strip().str.title()

In [29]:
for col in ['Importer','Exporter','Origin']:
    df[col] = df[col].str.strip()

In [30]:
df['Term'] = df['Term'].str.upper().str.strip()

Clip Importer and Exporter Quantities to Non-Negative Values

In [31]:
df['Importer reported quantity'] = df['Importer reported quantity'].clip(lower=0)
df['Exporter reported quantity'] = df['Exporter reported quantity'].clip(lower=0)

Create is_live Indicator Column

In [32]:
df['Term'] = df['Term'].str.upper().str.strip()

df['is_live'] = (df['Term'] == 'LIVE').astype(int)

Log Transform Quantity Columns

In [33]:
df['import_qty_log'] = np.log1p(df['Importer reported quantity'])
df['export_qty_log'] = np.log1p(df['Exporter reported quantity'])

Purpose and Source Columns Encoded

In [34]:
purpose_risk_map = {
    'T': 3,  # Commercial
    'H': 3,  # Hunting trophy
    'P': 2,  # Personal
    'Q': 2,  # Circus / exhibitions
    'M': 2,  # Medical
    'B': 1,  # Breeding
    'Z': 1,  # Zoo
    'G': 1,  # Botanical garden
    'S': 1,  # Scientific
    'E': 1,  # Educational
    'N': 1,  # Reintroduction
    'L': 1,   # Law enforcement
    'Unknown': 2
}

df['Purpose'] = df['Purpose'].map(purpose_risk_map).fillna(1)

In [35]:
source_risk_map = {
    'W': 3,  # Wild
    'I': 3,  # Confiscations / seizures
    'U': 2,  # Source unknown
    'X': 2,  # Marine (jurisdiction unclear)
    'O': 1,  # Pre-convention
    'R': 1,  # Ranched
    'C': 1,  # Captive-bred
    'F': 1,  # Born in captivity
    'A': 1,  # Artificially propagated
    'D': 1,  # Captive/propagated (App I)
    'Y': 1,   # Assisted production
    'Unknown': 2
}

df['Source'] = df['Source'].map(source_risk_map).fillna(2)

Create Cleaned CSV File

In [36]:
df.to_csv("Wildlife_Dataset_Cleaned.csv", index=False)

In [38]:
from google.colab import files
files.download("Wildlife_Dataset_Cleaned.csv")

Extract Top 6 Most Frequent Species

In [39]:
df=pd.read_csv("Wildlife_Dataset_Cleaned.csv")

In [40]:
combo_counts = (
    df.groupby(["Taxon", "Order", "Family", "Genus"])
      .size()
      .reset_index(name="count")
)

total_unique_combos = combo_counts.shape[0]

combo_counts, total_unique_combos

(                         Taxon         Order         Family         Genus  \
 0             Abronia Graminea        Sauria       Anguidae       Abronia
 1             Acampe Papillosa    Orchidales    Orchidaceae        Acampe
 2             Acampe Praemorsa    Orchidales    Orchidaceae        Acampe
 3                  Acampe Spp.    Orchidales    Orchidaceae        Acampe
 4     Acanthastrea Amakusensis  Scleractinia       Mussidae  Acanthastrea
 ...                        ...           ...            ...           ...
 6374      Zygosicyos Pubescens      Violales  Cucurbitaceae    Zygosicyos
 6375    Zygosicyos Tripartitus      Violales  Cucurbitaceae    Zygosicyos
 6376      Zygostates Alleniana    Orchidales    Orchidaceae    Zygostates
 6377         Zygostates Lunata    Orchidales    Orchidaceae    Zygostates
 6378           Zygostates Spp.    Orchidales    Orchidaceae    Zygostates

       count
 0         1
 1         2
 2         1
 3         4
 4         7
 ...     ...
 6374      2
 6375      7
 6376      2
 6377      1
 6378      1

 [6379 rows x 5 columns],
 6379)

In [41]:
top_6_combos = (
    df.groupby(["Taxon", "Order", "Family", "Genus"])
      .size()
      .reset_index(name="count")
      .sort_values("count", ascending=False)
      .head(6)
)

top_6_combos

                           Taxon       Order         Family       Genus  count
1676        Crocodylus Niloticus  Crocodylia   Crocodylidae  Crocodylus   2387
5431          Python Reticulatus   Serpentes     Pythonidae      Python   2308
283   Alligator Mississippiensis  Crocodylia  Alligatoridae   Alligator   2099
1678          Crocodylus Porosus  Crocodylia   Crocodylidae  Crocodylus   1404
6314            Varanus Salvator      Sauria      Varanidae     Varanus    960
5422           Python Bivittatus   Serpentes     Pythonidae      Python    922

In [42]:
df_top_6_rows = df.merge(
    top_6_combos[["Taxon", "Order", "Family", "Genus"]],
    on=["Taxon", "Order", "Family", "Genus"],
    how="inner"
)

In [43]:
df_top_6_rows.to_csv("Wildlife_Dataset_Top6.csv", index=False)
from google.colab import files
files.download("Wildlife_Dataset_Top6.csv")